@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    170A Burnham Lane<br />
    Slough, SL1 6LE<br />
    <abbr title="Phone">P:</abbr>
    074500 71700
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@priom-ms.com">Support@priom-ms.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@priom-ms.com">Marketing@priom-ms.com</a>
</address>